.article-list-container {
  padding: 1rem;
}

.material-icons.color_red {
  color: #ea4545;
}

.material-icons.color_green {
  color: #009688;
}

.mat-mdc-button.delete {
  color: #ea4545;
}

.mat-mdc-button.edit {
  color: #009688;
}
