<div class="article-list-container">
  <div class="grid grid-rows-1 grid-cols-3 gap-2">
    @for (item of articles(); track item.title) {
      <div>
        <mat-card>
          <mat-card-header>
            <mat-card-title>{{ item.title }}</mat-card-title>
          </mat-card-header>
          <mat-card-actions class="flex justify-between">
            <div class="justify-start">
              <button (click)="openArticle(item._id)" mat-button>
                <mat-icon class="mat-icon" fontIcon="visibility"></mat-icon>
                Open
              </button>
            </div>
            <div class=" justify-end">
              <button class="mat-mdc-button edit" (click)="editArticle(item._id)" mat-button>
                <mat-icon class="mat-icon color_green" fontIcon="edit"></mat-icon> Edit
              </button>
              <button class="mat-mdc-button delete" (click)="confirmDelete(item._id)" mat-button>
                <mat-icon class="mat-icon color_red" fontIcon="delete"></mat-icon>
                Delete
              </button>
            </div>
          </mat-card-actions>
        </mat-card>
      </div>
    } @empty {
      <li> There are no items.</li>
    }
  </div>
</div>
