<mat-toolbar color="tertiary">
  <mat-icon fontIcon="info" class="hover:cursor-crosshair text-dark-border-color mr-2"
            matTooltip="Crud app for testing new feature about angular 18"></mat-icon>
  <span class="mr-3">Smurt Blog</span>
  <span class="spacer"></span>
  <span *ngIf="loginService.isLoggedIn()">Hi, {{ loginService.getUserData().username }}
    <mat-icon (click)="utilService.userDialogInfo()"
              class="icon hover:cursor-pointer ml-2 mr-4 text-header-color" aria-hidden="false"
              aria-label="User verified icon" fontIcon="account_circle"></mat-icon>
    <mat-icon (click)="loginService.logout()"
              class="icon hover:cursor-pointer" aria-hidden="false" aria-label="Example user verified icon"
              fontIcon="logout"></mat-icon>
  </span>
</mat-toolbar>
<router-outlet />
<footer class="fixed bottom-0 left-0 right-0 text-center p-4"> © alBz MIT - {{ currentDateString.slice(10) }}</footer>
