<mat-toolbar color="tertiary">
  <span class="mr-3">Smurt Blog</span>
  <mat-icon fontIcon="info" class="relative top-0.5 hover:cursor-crosshair text-header-color" matTooltip="Crud app for testing new feature about angular 18"></mat-icon>
  <span class="spacer"></span>
  {{loginService.getUserData().username}} -
  <mat-icon *ngIf="loginService.isLoggedIn()" (click)="utilService.userDialogInfo()"
            class="icon hover:cursor-pointer ml-2 mr-4 text-header-color" aria-hidden="false" aria-label="User verified icon" fontIcon="account_circle"></mat-icon>
  <mat-icon *ngIf="loginService.isLoggedIn()" (click)="loginService.logout()"
            class="icon hover:cursor-pointer" aria-hidden="false" aria-label="Example user verified icon" fontIcon="logout"></mat-icon>
</mat-toolbar>
<router-outlet />
<footer class="fixed bottom-0 left-0 right-0 text-center p-4"> © alBz MIT - {{ currentDateString.slice(10) }} </footer>
