@use '@angular/material' as mat;

@tailwind base;
@tailwind components;
@tailwind utilities;
@include mat.core();

$lightTheme: mat.define-theme((
  color: (
    theme-type: light,
    use-system-variables: true
  ),
  typography: (
    brand-family: 'Orbitron',
    bold-weight: 900
  ),
  density: (
    scale: -1
  )
));

$darkTheme: mat.define-theme((
  color: (
    theme-type: dark,
  ),
  typography: (
    brand-family: 'Orbitron',
    bold-weight: 900
  ),
  density: (
    scale: -1
  )
));



// Light Theme Styles
html {
  @include mat.core-theme($lightTheme);
  @include mat.button-theme($lightTheme);
}

// Dark Theme Styles
html.dark {
  @include mat.core-theme($darkTheme);
  @include mat.button-theme($darkTheme);
}



