<div class="article-view-container">
  <div class="flex">
    <button class="float-start" mat-button (click)="backToArticleView()">Back To view</button>
  </div>

  <div class="grid grid-rows-1 grid-cols-1">

    <mat-card *ngIf="article()?.title" class="article-view-card">
      <mat-card-header>
        <mat-card-title>{{ article()!.title }}</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <p>{{ article()!.content }}</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
